@import "~bootstrap";

.captcha {
    position: relative;
    display: block;
    border: 2px solid var(--bs-border-color);
    width: var(--width);
    height: var(--height);
    margin-bottom: .5rem;
    background: var(--image)
}

.captcha-piece {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--piece-width);
    height: var(--piece-height);
    background: var(--image) top right;
}

.captcha-piece::after {
    content: "";
    background: url('../img/piece-contour.png') no-repeat;
    width: calc(var(--piece-width) + 10px);
    height: calc(var(--piece-height) + 10px);
    position: absolute;
    opacity: .6;
    transition: opacity .3s;
}

.captcha:not(.captcha-waiting-interaction) {
    .captcha-piece:not(.is-moving)::after {
        opacity: .3;
    }
}
